{{!< default}} {{! The main content area on the homepage }} <main role="main" class="{{#if @blog.cover}} custom-bg{{else}} default-bg{{/if}}" {{#if @blog.cover}} style="background-image: url({{@blog.cover}})" {{/if}}>
    <div class="main__wrapper">
        {{> menu}}
        <div id="banner__wrapper" class="clearfix">
            {{!--
            <div class="banner">三维动画</div>
            <div class="banner">游戏美术</div>
            <div class="banner">建筑表现</div>
            <div class="banner">虚拟现实</div>
            <div class="banner">多媒体展陈</div>
            <div class="banner">宣传片拍摄</div>
            <div class="banner">联系我们</div>
            --}}
            <div class="banner_item">
                <div class="hexagon">
                    <a href="/business/#3d">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" style="background-image: url('http://pic.yupoo.com/wintlu_v/E9PPEqBH/21AB9.jpg');">
                                <div class="banner_title banner1">
                                </div>
                                <h3>三维动画</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="banner_item">
                <div class="hexagon">
                    <a href="/business/#construction">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" style="background-image: url(http://www.szzppx.com/uploadfile/2010/1231/20101231044641816.jpg);">
                                <div class="banner_title banner2"></div>
                                <h3>建筑表现</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="banner_item">
                <div class="hexagon">
                    <a href="/business/#virtual">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" style="background-image: url(http://www.lon3d.com/vr168/UploadFiles_8954/201003/2010031212430000.jpg);">
                                <div class="banner_title banner3"></div>
                                <h3>虚拟现实</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="banner_item banner-contact">
                <div class="hexagon">
                    <div class="hexagon-in1">
                        <div class="hexagon-in2 contact-us">
                            <div class="banner_title banner-contact">
                                <h4>联系我们</h4>
                                <p><a title="点击发送邮件" href="mailto:dt-art@qq.com" target="_top">dt-art@qq.com</a>
                                    <br/>
                                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=249423831&site=qq&menu=yes" title="点击启动聊天">QQ 1811772034</a>
                                    <br/>电话 18729393372
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner_item banner-newline banner-2ndline">
                <div class="hexagon">
                    <a href="/business/#multi-media">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" style="background-image: url(http://images.17173.com/2014/news/2014/04/09/hxz0409xnxs02.jpg);">
                                <div class="banner_title banner4"></div>
                                <h3>多媒体展陈</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="banner_item banner-2ndline">
                <div class="hexagon">
                    <a href="/business/#video">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" style="background-image: url(http://img2.cn.china.cn/2/3_399_7113_731_619.jpg);">
                                <div class="banner_title banner5"></div>
                                <h3>宣传片拍摄</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="banner_item banner-2ndline">
                <div class="hexagon">
                    <a href="/business/#game">
                        <div class="hexagon-in1">
                            <div class="hexagon-in2" style="background-image:url(http://www.yitu.cn/uploadfile/product/306/2014/08/04/1407119079.jpg)">
                                <div class="banner_title banner6"></div>
                                <h3>游戏美术</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <h3 class="group-title">案例展示</h3>
        <div class="clearfix">
            {{#foreach posts}} {{#if tags}} {{!-- tags are treated as Cases --}}
            <article class="{{post_class}} post__wrapper" data-cols="4">
                <a href="{{url}}">
                    <div class="post__wrapper_helper post__wrapper_helper--notloaded el__transition">
                        {{content words="0"}}
                        <div class="post__preview el__transition">
                            <header class="post__header">
                                <h2 class="post__title">
                                    <span>{{{title}}}</span>
                                </h2>
                            </header>
                            <p class="post__excerpt">{{excerpt characters="120"}}&hellip;</p>
                        </div>
                    </div>
                </a>
            </article>
            {{/if}} {{/foreach}}
        </div>
        <h3 class="group-title">我们的客户</h3>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <img src="http://www.suvi.cn/coopimg/2012110103520.jpg">
                <img src="http://www.suvi.cn/coopimg/2012110102915.jpg">
                <img src="http://www.suvi.cn/coopimg/2012110112447.jpg">
                <img src="http://www.suvi.cn/coopimg/2012110101120.jpg">
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 text-center">
                <h6>动画创意不错，按时完成项目，对大唐艺方很满意</h6>
                <footer>-- 万通地产项目经理 小李</footer>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <h3 class="group-title">行业动态</h3>
        <div class="row text-center">
            <p><a href="http://www.fthudong.net/news_content832.html">新疆优山美地上线啦！</a>
            </p>
            <p><a href="http://www.fthudong.net/news_content834.html">三维CAD的又一次突破</a>
            </p>


        </div>

    </div>
    </main>
