<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <title>大唐艺方</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
</head>

<body>
    <div class="top-banner">
        <div class="container clearfix">
            <span>申明: 大唐艺方版权所有</span>
            <span class="pull-right">联系电话: 029-68740852</span>
        </div>
    </div>
    <div class="stripe"></div>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-8">
                    <a href="/index.html" title="Home">
                        <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/LOGO.png" alt="DT-ART" />
                    </a>
                </div>
                <div class="col-md-8 col-xs-4 clearfix">
                    <button class="modal-nav-toggle pull-right visible-xs visible-sm">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div class="col-md-8 col-xs-12">
                    <h5 class="text-right title">数字动画表现专家</h5>
                    <div class="hidden-xs hidden-sm">
                        <ul class="menu-nav pull-right clearfix">
                            <li class="<%- current.source == 'index' ? 'active' : '' %>" class="active"><a href="/index.html">HOME</a>
                            </li>
                            <li class="<%- current.source == 'works' ? 'active' : '' %>">
                                <a href="/works.html">WORKS</a>
                                <ul>
                                    <li><a href="#">三维动画</a>
                                    </li>
                                    <li><a href="#">多媒体</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="<%- current.source == 'services' ? 'active' : '' %>"><a href="/services.html">SERVICES</a>
                                <ul>
                                    <li><a href="#">服务范围</a>
                                    </li>
                                    <li><a href="#">服务体系</a>
                                    </li>
                                    <li><a href="#">售后服务</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="<%- current.source == 'about' ? 'active' : '' %>"><a href="/about.html">ABOUT</a>
                                <ul>
                                    <li><a href="#">公司简介</a>
                                    </li>
                                    <li><a href="#">企业文化</a>
                                    </li>
                                    <li><a href="#">合作单位</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="<%- current.source == 'contact' ? 'active' : '' %>"><a href="/contact.html">CONTACT</a>
                                <ul>
                                    <li><a href="#">详细地址</a>
                                    </li>
                                    <li><a href="#">工作招聘</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- yield %>
        <div class="stripe"></div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            <img src="http://dt-art.qiniudn.com/assets/logo-small.png" alt="" />
                        </p>
                        <p>
                            <a href="#">详细地址</a>
                            <a href="#">团队建设</a>
                            <a href="#">合作单位</a>
                            <a href="#">工作招聘</a>
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/srcode.png" alt="SR Code" />
                    </div>
                    <div class="col-sm-4">
                        <p><span class="glyphicon glyphicon-map-marker"></span> 西安市高新区唐延南路逸翠园i都会4号楼1单元1634室</p>
                        <p><span class="glyphicon glyphicon-earphone"></span> 029-68740852 18729393376</p>
                        <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:dt-art@qq.com">dt-art@qq.com</a>
                        </p>
                    </div>
                </div>
                <div class="text-center">
                    <p>DTART DIGITAL TECHNOLOGY 2014 ALL RIGHTS RESERVED</p>
                    <p>大唐艺方 版权所有</p>
                </div>
            </div>
        </footer>
        <div class="modal-nav-wrap">
            <ul class="modal-nav">
                <li>
                    <a class="clearfix" href="#"> <span class="close">X</span>
                    </a>
                </li>
                <li><a href="index.html" title="">HOME</a> </li>
                <li><a href="works.html" title="">WORKS</a>
                </li>
                <li><a href="services.html" title="">SERVICES</a>
                </li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </div>

        <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
        <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <script src="jquery.js"></script>
    <script src="app.js"></script>
</body>

</html>
