<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="西安大唐艺方数字科技有限公司" />
    <meta name="keywords" content="西安 设计 三维动画 多媒体 影视广告 效果图" />
    <meta name="author" content="DTART" />
    <title>大唐艺方</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/style.css">
    <link rel="icon" href="favicon.png" type="image/png" />
    <link rel="shortcut icon" href="favicon.png" type="image/png" />
</head>

<body>
    <!-- This is used to test media query in JS-->
    <div id="media-indicator" class="visible-sm-block visible-md-block visible-lg-block">
    </div>
    <div class="top-banner">
        <div class="container clearfix">
            <span class="hidden-xs">申明: 大唐艺方版权所有</span>
            <a class="contact-link pull-right" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1811772034&site=qq&menu=yes"><i class="icon-qq"></i> 点击QQ咨询</a>
            </span>
            <a class="pull-right contact-link" href="tel:02968740852"><i class="glyphicon glyphicon-earphone"></i> 029-68740852</a>
        </div>
    </div>
    <div class="stripe"></div>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-8">
                    <a href="/index.html" title="Home">
                        <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/LOGO.png" alt="DT-ART" />
                    </a>
                </div>
                <div class="col-md-8 col-xs-4 clearfix">
                    <button class="modal-nav-toggle pull-right visible-xs visible-sm">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div class="col-md-8 col-xs-12">
                    <h5 class="text-right title">数字动画表现专家</h5>
                    <div class="hidden-xs hidden-sm">
                        <ul class="menu-nav pull-right clearfix">
                            <li class="<%- current.source == 'index' ? 'active' : '' %>" class="active">
                                <a href="/index.html">
                                    <div class="flip-box">
                                        <div class="front">
                                            HOME
                                        </div>
                                        <div class="bottom">
                                            主页
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="<%- current.source == 'works' ? 'active' : '' %>">
                                <a href="/works.html">
                                    <div class="flip-box">
                                        <div class="front">
                                            WORKS
                                        </div>
                                        <div class="bottom">
                                            案例展示
                                        </div>
                                    </div>
                                </a>
                                <ul>
                                    <li><a href="/works.html#works-animation">三维动画</a>
                                    </li>
                                    <li><a href="/works.html#works-media">多媒体</a>
                                    </li>
                                    <li><a href="/works.html#works-video">影视广告</a>
                                    </li>
                                    <li><a href="/works.html#works-drawing">效果图</a>
                                    </li>
                                    <li><a href="/works.html#works-others">其他作品</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="<%- current.source == 'services' ? 'active' : '' %>">
                                <a href="/services.html">
                                    <div class="flip-box">
                                        <div class="front">
                                            SERVICES
                                        </div>
                                        <div class="bottom">
                                            业务体系
                                        </div>
                                    </div>
                                </a>
                                <ul>
                                    <li><a href="/services.html#services-range">服务范围</a>
                                    </li>
                                    <li><a href="/services.html#services-system">服务体系</a>
                                    </li>
                                    <li><a href="/services.html#services-aftersales">售后服务</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="<%- current.source == 'about' ? 'active' : '' %>">
                                <a href="/about.html">
                                    <div class="flip-box">
                                        <div class="front">
                                            ABOUT
                                        </div>
                                        <div class="bottom">
                                            关于我们
                                        </div>
                                    </div>
                                </a>
                                <ul>
                                    <li><a href="/about.html#about-company">公司简介</a>
                                    </li>
                                    <li><a href="/about.html#about-culture">企业文化</a>
                                    </li>
                                    <li><a href="/about.html#about-partners">合作单位</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="<%- current.source == 'contact' ? 'active' : '' %>">
                                <a href="/contact.html">
                                    <div class="flip-box">
                                        <div class="front">
                                            CONTACT
                                        </div>
                                        <div class="bottom">
                                            联系我们
                                        </div>
                                    </div>
                                </a>
                                <ul>
                                    <li><a href="/contact.html#contact-address">详细地址</a>
                                    </li>
                                    <li><a href="/contact.html#contact-jobs">工作招聘</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- yield %>

        <div class="stripe"></div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="http://dt-art.qiniudn.com/assets/logo-small.png" alt="" />
                    </div>
                    <div class="col-sm-6">
                        <a href="about.html">关于我们</a> - 
                        <a href="contact.html">联系我们</a> - 
                        <a href="works.html">案例展示</a>
                    </div>
                </div>
                <div class="text-center">
                    <p>DTART DIGITAL TECHNOLOGY. ALL RIGHTS RESERVED</p>
                    <p>大唐艺方 2015</p>
                </div>
            </div>
        </footer>
        <!-- Mobile nav -->
        <div class="modal-nav-wrap transitionAll">
            <div class="clearfix"> <a class="close-button">X</a>
            </div>
            <ul class="modal-nav">
                <li><a href="index.html" title="">首页</a> </li>
                <li><a href="works.html" title="">案例展示</a>
                </li>
                <li><a href="services.html" title="">业务体系</a>
                </li>
                <li><a href="about.html">关于我们</a>
                </li>
                <li><a href="contact.html">联系我们</a>
                </li>
            </ul>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="Video modal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title model-title"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="image-slick">
        </div>

        <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
        <!--[if lt IE 9]>
    <script src="http://cdnjs.net/ajax/libs/es5-shim/4.1.0/es5-shim.min.js"></script>
    <script src="http://cdnjs.net/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <![endif]-->
        <script src="js/jquery-1.11.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/app.js"></script>
</body>

</html>
