<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="西安大唐艺方数字科技有限公司" />
    <meta name="keywords" content="西安 设计 三维动画 多媒体 影视广告 效果图" />
    <meta name="author" content="DTART" />
    <title>大唐艺方</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
</head>

<body>
    <div class="top-banner">
        <div class="container clearfix">
            <span>申明: 大唐艺方版权所有</span>
            <span class="pull-right">联系电话: 029-68740852</span>
        </div>
    </div>
    <div class="stripe"></div>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-8">
                    <a href="/index.html" title="Home">
                        <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/LOGO.png" alt="DT-ART" />
                    </a>
                </div>
                <div class="col-md-8 col-xs-4 clearfix">
                    <button class="modal-nav-toggle pull-right visible-xs visible-sm">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div class="col-md-8 col-xs-12">
                    <h5 class="text-right title">数字动画表现专家</h5>
                    <div class="hidden-xs hidden-sm">
                        <ul class="menu-nav pull-right clearfix">
                            <li class="<%- current.source == 'index' ? 'active' : '' %>" class="active">
                                <a href="/index.html">
                                    <div class="flip-box">
                                        <div class="front">
                                            HOME
                                        </div>
                                        <div class="bottom">
                                            主页
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="<%- current.source == 'works' ? 'active' : '' %>">
                                <a href="/works.html">
                                    <div class="flip-box">
                                        <div class="front">
                                            WORKS
                                        </div>
                                        <div class="bottom">
                                            案例展示
                                        </div>
                                    </div>
                                </a>
                                <ul>
                                    <li><a href="/works.html#works-animation">三维动画</a>
                                    </li>
                                    <li><a href="/works.html#works-media">多媒体</a>
                                    </li>
                                    <li><a href="/works.html#works-video">影视广告</a>
                                    </li>
                                    <li><a href="/works.html#works-drawing">效果图</a>
                                    </li>
                                    <li><a href="/works.html#works-others">其他作品</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="<%- current.source == 'services' ? 'active' : '' %>">
                                <a href="/services.html">
                                    <div class="flip-box">
                                        <div class="front">
                                            SERVICES
                                        </div>
                                        <div class="bottom">
                                            业务体系
                                        </div>
                                    </div>
                                </a>
                                <ul>
                                    <li><a href="/services.html#services-range">服务范围</a>
                                    </li>
                                    <li><a href="/services.html#services-system">服务体系</a>
                                    </li>
                                    <li><a href="/services.html#services-aftersales">售后服务</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="<%- current.source == 'about' ? 'active' : '' %>">
                                <a href="/about.html">
                                    <div class="flip-box">
                                        <div class="front">
                                            ABOUT
                                        </div>
                                        <div class="bottom">
                                            关于我们
                                        </div>
                                    </div>
                                </a>
                                <ul>
                                    <li><a href="/about.html#about-company">公司简介</a>
                                    </li>
                                    <li><a href="/about.html#about-culture">企业文化</a>
                                    </li>
                                    <li><a href="/about.html#about-partners">合作单位</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="<%- current.source == 'contact' ? 'active' : '' %>">
                                <a href="/contact.html">
                                    <div class="flip-box">
                                        <div class="front">
                                            CONTACT
                                        </div>
                                        <div class="bottom">
                                            联系我们
                                        </div>
                                    </div>
                                </a>
                                <ul>
                                    <li><a href="/contact.html#contact-address">详细地址</a>
                                    </li>
                                    <li><a href="/contact.html#contact-jobs">工作招聘</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- yield %>

        <div class="stripe"></div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            <img src="http://dt-art.qiniudn.com/assets/logo-small.png" alt="" />
                        </p>
                        <p>
                            <a href="#">详细地址</a>
                            <a href="#">团队建设</a>
                            <a href="#">合作单位</a>
                            <a href="#">工作招聘</a>
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/srcode.png" alt="SR Code" />
                    </div>
                    <div class="col-sm-4">
                        <p><span class="glyphicon glyphicon-map-marker"></span> 西安市高新区唐延南路逸翠园i都会4号楼1单元1634室</p>
                        <p><span class="glyphicon glyphicon-earphone"></span> 029-68740852 18729393376</p>
                        <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:dt-art@qq.com">dt-art@qq.com</a>
                        </p>
                    </div>
                </div>
                <div class="text-center">
                    <p>DTART DIGITAL TECHNOLOGY 2014 ALL RIGHTS RESERVED</p>
                    <p>大唐艺方 版权所有</p>
                </div>
            </div>
        </footer>
        <div class="modal-nav-wrap transitionAll">
            <div class="clearfix"> <a class="close-button">X</a>
            </div>
            <ul class="modal-nav">
                <li><a href="index.html" title="">HOME</a> </li>
                <li><a href="works.html" title="">WORKS</a>
                </li>
                <li><a href="services.html" title="">SERVICES</a>
                </li>
                <li><a href="about.html">ABOUT</a>
                </li>
                <li><a href="contact.html">CONTACT</a>
                </li>
            </ul>
        </div>

        <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
        <!--[if lt IE 9]>
    <script src="http://cdnjs.net/ajax/libs/es5-shim/4.1.0/es5-shim.min.js"></script>
    <script src="http://cdnjs.net/ajax/libs/json3/3.3.2/json3.min.js"></script>
    <![endif]-->
        <script type="text/javascript" src="http://tajs.qq.com/stats?sId=43501351" charset="UTF-8"></script>
        <script src="jquery.js"></script>
        <script src="app.js"></script>
</body>

</html>
