<div class="slick-carousel">
    <div class="img-crop-w">
        <img data-delay-src="http://dt-art.qiniudn.com/assets/slider1.jpg" data-crop="imageView2/1/w/500/h/200" />
    </div>
    <div class="img-crop-w">
        <img data-delay-src="http://dt-art.qiniudn.com/assets/slider2.jpg" data-crop="imageView2/1/w/500/h/200" />
    </div>
    <div class="img-crop-w">
        <img data-delay-src="http://dt-art.qiniudn.com/assets/slider3.jpg" data-crop="imageView2/1/w/500/h/200" />
    </div>
    <div class="img-crop-w">
        <img data-delay-src="http://dt-art.qiniudn.com/assets/slider4.jpg" data-crop="imageView2/1/w/500/h/200" />
    </div>
    <div class="img-crop-w">
        <img data-delay-src="http://dt-art.qiniudn.com/assets/slider5.jpg" data-crop="imageView2/1/w/500/h/200" />
    </div>
</div>
<div class="container">
    <div class="intro">
        <h4 class="text-center">大唐艺方简介</h4>
        <h6 class="text-center text-muted">INTRODUCTION OF DTART</h6>
        <hr />
        <p>大唐艺方是一家专注于提供高质量三维动画，多媒体制作，建筑可视化的综合视觉艺术服务提供商。公司创业四年来，秉承“立足西安，面向全国”的宗旨，使其成为西安数字视觉行业最具成长性的本土视觉机构。公司成立以来，与政府部门、建筑设计院、房地产及其他行业公司建立了良好的合作伙伴关系。 我们努力为客户创造深度价值！致力于成为西部领先的专业数字图像服务商，以全新的品牌传播理论引领中国数字视觉潮流。
        </p>
    </div>
    <hr class="invisible" />
    <div id="works" class="works">
        <div class="row">
            <div class="col-sm-2">
                <ul class="menu-nav-2">
                    <li>
                        <a href="/works.html" title="">案例展示</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10">
                <ul class="menu-nav-2 pull-right hidden-xs">
                    <li class="active"><a href="#works-animation" title="">三维动画</a>
                    </li>
                    <li><a href="#works-media" title="">多媒体</a>
                    </li>
                    <li><a href="#works-video" title="">影视广告</a>
                    </li>
                    <li><a href="#works-drawing" title="">效果图</a>
                    </li>
                    <li><a href="#works-others" title="">其他作品</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="thin" />
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" name="works-animation">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="tab-pane-item img-lg" data-media="<%= works_animation[10].video %>">
                            <img src="img/ajax-loader.gif" data-delay-src="<%= cdn_url + works_animation[10].home_image %>">
                            <div class="backdrop"></div>
                            <div class="img-title">
                                <%=  works_animation[10].title %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="tab-pane-item img-sm" data-media="<%= works_animation[3].video %>">
                            <img src="img/ajax-loader.gif" data-delay-src="<%= cdn_url + works_animation[3].home_image %>">
                            <div class="backdrop"></div>
                            <div class="img-title">
                                <%= works_animation[3].title %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="tab-pane-item img-sm" data-media="<%= works_animation[1].video %>">
                            <img src="img/ajax-loader.gif" data-delay-src="<%= cdn_url + works_animation[1].home_image %>">
                            <div class="backdrop"></div>
                            <div class="img-title">
                                <%= works_animation[1].title %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" name="works-media">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="tab-pane-item img-lg" data-media="<%= works_media[0].video%>">
                            <img src="img/ajax-loader.gif" data-delay-src="<%= cdn_url + works_media[0].home_image %>">
                            <div class="backdrop"></div>
                            <div class="img-title">
                                <%- works_media[0].title %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="tab-pane-item img-sm hidden-xs" data-media="<%= works_media[1].video%>">
                            <img src="img/ajax-loader.gif" data-delay-src="<%= cdn_url + works_media[1].home_image %>">
                            <div class="backdrop"></div>
                            <div class="img-title">
                                <%- works_media[1].title %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" name="works-video">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="tab-pane-item img-sm" data-media="<%= works_video[2].video%>">
                            <img src="img/ajax-loader.gif" data-delay-src="<%= cdn_url + works_video[2].home_image %>">
                            <div class="backdrop"></div>
                            <div class="img-title">
                                <%- works_video[2].title %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                 <div class="tab-pane-item img-sm" data-media="<%= works_video[1].video%>">
                                    <img src="img/ajax-loader.gif" data-delay-src="<%= cdn_url + works_video[1].home_image %>">
                                    <div class="backdrop"></div>
                                    <div class="img-title">
                                        <%- works_video[1].title %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                 <div class="tab-pane-item img-sm" data-media="<%= works_video[3].video%>">
                                    <img src="img/ajax-loader.gif" data-delay-src="<%= cdn_url + works_video[3].home_image %>">
                                    <div class="backdrop"></div>
                                    <div class="img-title">
                                        <%- works_video[3].title %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="tab-pane-item img-lg hidden-xs" data-media="<%= works_video[0].video%>">
                            <img src="img/ajax-loader.gif" data-delay-src="<%= cdn_url + works_video[0].home_image %>">
                            <div class="backdrop"></div>
                            <div class="img-title">
                                <%- works_video[0].title %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" name="works-drawing">drawing</div>
            <div role="tabpanel" class="tab-pane" name="works-others">others</div>
        </div>
    </div>
    <hr class="invisible" />
    <div class="biz">
        <div>
            <ul class="menu-nav-2">
                <li><a href="services.html">核心业务</a>
                </li>
            </ul>
        </div>
        <hr class="thin" />
        <div class="row text-center">
            <div class="col-sm-3 col-xs-6">
                <a href="services.html" title=""><img class="img-responsive" src="http://dt-art.qiniudn.com/assets/biz-animation.png" alt="Animation">
                </a>
                <h4>三维动画</h4>
                <p class="text-muted">3D Animation</p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="services.html" title=""><img class="img-responsive" src="http://dt-art.qiniudn.com/assets/biz-media.png" alt="Animation">
                </a>
                <h4>多媒体</h4>
                <p class="text-muted">Multimedia</p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="services.html" title=""><img class="img-responsive" src="http://dt-art.qiniudn.com/assets/biz-video.png" alt="Animation">
                </a>
                <h4>影视广告</h4>
                <p class="text-muted">Video shoot</p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <a href="services.html" title=""><img class="img-responsive" src="http://dt-art.qiniudn.com/assets/biz-impression.png" alt="Animation">
                </a>

                <h4>效果图</h4>
                <p class="text-muted">Impression Drawing</p>
            </div>
        </div>
    </div>
    <hr class="invisible" />
    <div class="customers text-center">
        <div>
            <ul class="menu-nav-2">
                <li><a href="about.html#about-partners">合作客户</a>
                </li>
            </ul>
        </div>
        <hr class="thin" />
        <div class="row">
            <div class="col-sm-2 col-xs-6 customer-logo">
                <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/cus1.png" alt="">
            </div>
            <div class="col-sm-2 col-xs-6 customer-logo ">
                <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/cus2.png" alt="">
            </div>
            <div class="col-sm-2 col-xs-6 customer-logo ">
                <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/cus3.png" alt="">
            </div>
            <div class="col-sm-2 col-xs-6 customer-logo ">
                <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/cus4.png" alt="">
            </div>
            <div class="col-sm-2 col-xs-6 customer-logo ">
                <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/cus5.png" alt="">
            </div>
            <div class="col-sm-2 col-xs-6 customer-logo ">
                <img class="img-responsive" src="http://dt-art.qiniudn.com/assets/cus6.png" alt="">
            </div>
        </div>
    </div>
    <hr class="invisible" />
</div>