<div class="banner green">
</div>
<div class="content-wrap container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4 panel-title">案例展示</div>
                <div class="col-sm-8">
                    <ul class="menu-nav-2 pull-right">
                        <li class="active"><a href="#works-animation" title="">三维动画</a>
                        </li>
                        <li><a href="#works-media" title="">多媒体</a>
                        </li>
                        <li><a href="#works-video" title="">影视广告</a>
                        </li>
                        <li><a href="#works-drawing" title="">效果图</a>
                        </li>
                        <li><a href="#works-others" title="">其他作品</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" name="works-animation">
                    <div class="row">
                        <% var contents = works_animation;
                         for(var i in contents){ %>
                          <% var work = contents[i] %>
                            <div class="col-sm-3">
                            <div class="tab-pane-item img-sm" data-media="<%= work.video %>">
                                <img src="img/ajax-loader.gif" data-delay-src="<%= cdn_url + work.image %>">
                                <div class="backdrop"></div>
                                <div class="img-title">
                                    <%- work.title %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" name="works-media">
                    <div class="row">
                         <% var contents = works_media;
                         for(var i in contents){ %>
                          <% var work = contents[i] %>
                            <div class="col-sm-3">
                            <div class="tab-pane-item img-sm" data-media="<%= work.video %>">
                                <img src="img/ajax-loader.gif" data-delay-src="<%= work.image %>">
                                <div class="backdrop"></div>
                                <div class="img-title">
                                    <%- work.title %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" name="works-video">
                     <div class="row">
                      <% var contents = works_video;
                         for(var i in contents){ %>
                          <% var work = contents[i] %>
                            <div class="col-sm-3">
                            <div class="tab-pane-item img-sm" data-media="<%= work.video %>">
                                <img src="img/ajax-loader.gif" data-delay-src="<%= work.image %>">
                                <div class="backdrop"></div>
                                <div class="img-title">
                                    <%- work.title %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" name="works-drawing">
                    <div class="row">
                        <% var contents = works_drawing;
                         for(var i in contents){ %>
                          <% var image = contents[i] %>
                            <div class="col-sm-3">
                            <div class="tab-pane-item img-sm" data-image >
                                <img src="img/ajax-loader.gif" data-delay-src="<%= cdn_url + image.url %>">
                                <div class="backdrop"></div>
                                <div class="img-title">
                                    <%- image.title %>
                                </div>
                                <div class="img-detail">
                                    <%- image.detail %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" name="works-others">
                     <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
